@model IEnumerable<Capstone.Models.BookEntryModel>

@{
    ViewBag.Title = "BookEntrySubmissionIndex";
}

<h2>BookEntrySubmissionIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorMiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorMiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synopsis)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
