@model Capstone.Models.MemberModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MemberModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" style="width:280x;height:220px;" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>*@
       
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberSince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentlyReading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentlyReading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgressInBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgressInBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutYourself)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutYourself)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
