@model Capstone.Models.MemberModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <td>
            @Html.DisplayFor(model => model.MiddleName)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <td>
            @Html.DisplayFor(model => model.Age)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <td>
            @Html.DisplayFor(model => model.Gender)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteBook)
        </th>
        <td>
            @Html.DisplayFor(model => model.FavoriteBook)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.CurrentlyReading)
        </th>
        <td>
            @Html.DisplayFor(model => model.CurrentlyReading)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.ProgressInBook)
        </th>
        <td>
            @Html.DisplayFor(model => model.ProgressInBook)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.AboutYourself)
        </th>
        <td>
            @Html.DisplayFor(model => model.AboutYourself)
        </td>
        <th></th>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
            @Html.ActionLink("Create Group", "CreateGroup", "GroupAdmin") |
            @Html.ActionLink("Reading List", "ReadingList", "Member") |
        </td>
    </tr>

</table>
