@model Capstone.Models.GroupModel

@{
    ViewBag.Title = "JoinGroup";
}

<h2>JoinGroup</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <td>
            @Html.DisplayFor(model => model.GroupName)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Rules)
        </th>
        <td>
            @Html.DisplayFor(model => model.Rules)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.ReadingAssignment)
        </th>
        <td>
            @Html.DisplayFor(model => model.ReadingAssignment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </td>
    </tr>
}

</table>
