@model IEnumerable<Capstone.Models.ReadingListModel>

@{
    ViewBag.Title = "ReadingList";
}

<h2>ReadingList</h2>

<p>
    @Html.ActionLink("My Profile", "Index", "Member")
</p>
<table class="table">
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyReview)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyReview)
            </td>
            
            @*<td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>*@
            <td>
                @Html.ActionLink("Add Book", "ReadingListAdd", new { id = item.ID }) |
                @Html.ActionLink("Edit", "ReadingListEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "ReadingListDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
