@model IEnumerable<Capstone.Models.GroupModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateGroup", "GroupAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingAssignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupAdminId)
        </th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingAssignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupAdminId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Join Group", "JoinGroup", "Member", new { id = item.Id }, null)

        </td>
    </tr>
}

</table>
