@model GroupMembersViewModel

@{
    ViewBag.Title = "Members";
}

<h2>Members</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Members.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.First().FavoriteBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.First().AboutYourself)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.First().ApplicationUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Members) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutYourself)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete Member", "MembersToDelete", "GroupAdmin", new { id = item.ID, secondaryId = Model.GroupId }, null)
        </td>
    </tr>
}

</table>
