@model IEnumerable<Capstone.Models.BookAPIModel>

@{
    ViewBag.Title = "GetBestsellerFromApi";
}

<h2>GetBestsellerFromApi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        <th><img src="http://books.google.com/books/content?id=yDtbBJQ4of8C&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE711H9iy6igjXPrjmZTi4WJklaPhsEqLv8Sbg_ijfmxWp_V2FHjUa8QqSRMsRcAA7P58XK003sjThpkwZuWrntuU4relb9c0dqGu2sIjq0o6K4XpJYtXRRKzv1bUVX1mSc9btLjT&source=gbs_api" /></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <th><img src="http://books.google.com/books/content?id=tcSMCwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api&key=AIzaSyCGLb8F7CAkFUWVMVlowMQywW42e571Z7k" /></th>
        


    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr >
    }

</table>
